=======model demo Component=======
<div data-sly-use.varName="${'com.adobe.aem.guides.wknd.core.models.ModelDemo' @ country='India'}">
    <p><b>Name: </b>${varName.name}</p>
    <p><b>Page Title: </b>${varName.title}</p>
    <p><b>Page Title of "/content/wknd/us/en/about-us": </b>${varName.titleSpecific}</p>
    <p><b>Country(rParameter): </b>${varName.country}</p>
    <p><b>List of Strings: </b><p>
    <div data-sly-list.item="${varName.listOfStrings}">
        ${item}
    </div>
    <p><b>Map of Strings</b></p>
    <div data-sly-list.items="${varName.mapOfString}">
        <p>${items}: ${varName.mapOfString[items]}</p>
    </div>
    <p><b>Printing Capital of Rajasthan</b><p>
    <p>${varName.mapOfString.Rajasthan}</p>
</div>